.account-background {
  width: 100%;
  height: 100%;
  border-radius: 2.5vw;
  background-color: var(--background-color);
}

.highlighted {
  border: .27vw solid var(--Accent);
}

.account-background .button {
  width: 100%;
  height: 100%;
  border-radius: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--H3);
  color: var(--Primary);
  cursor: pointer;
}
.account-background .button:hover {
  background-color: var(--Button-primary-hover);
}
