.nav-background {
  position: relative;
  width: 100%;
  min-height: 20%;
  padding: 1.4vw;
  border-radius: 2.5vw;
  background-color: var(--background-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input[type="checkbox"]{
  display: none;
}

span {
  font: var(--body2);
  text-decoration: none;
  padding: .35vw .6vw;
  border-radius: 2.5vw;
  background-color: var(--glass);
  backdrop-filter: var(--button-blur);
}

.selected{
  background-color: var(--Accent);
}

.mode {
  display: flex;
  align-items: center;
  border-radius: 2.5vw;
  border: .27vw var(--border) solid;
  padding: .35vw .6vw;
  gap: .7vw;
  backdrop-filter: var(--background-blur);
}

.field {
  margin: .4vw 0;
}

input[type="email"], input[type="password"], input[type="text"]{
  width: 100%;
  color: var(--Primary);
  font: var(--body2);
  border-radius: 2.5vw;
  background-color: transparent;
  border: .27vw var(--border) solid;
  backdrop-filter: var(--button-blur);
  padding: .45vw .6vw;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus {
  outline: none;
  border: .27vw var(--Accent) solid;
}

.label-field {
  letter-spacing: 0;
  margin-left: .9vw;
  font: var(--footnote);
  color: var(--Gray);
}

button {
  margin: .5vw;
  background-color: transparent;
  border: none;
  color: var(--Accent);
  padding: .7vw 2.65vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: var(--sumbit);
  border-radius: 5vw;
  backdrop-filter: var(--button-blur);
}

button:hover {
  background-color: var(--Button-primary-hover);
}
