<div class="nav-background">
  <!--Авториция-->
  <div *ngIf="isAuthMode" class="center background">
    <input type="checkbox" id="mode" [(ngModel)]="isSingUp">
    <label for="mode">
      <div class="mode">
        <span [ngClass]="{'selected': !isSingUp}">Sign in</span>
        <span [ngClass]="{'selected': isSingUp}">Sign up</span>
      </div>
    </label>

    <!--Вход-->
    <div *ngIf="!isSingUp" class="center">
      <form (ngSubmit)="singIn()" class="center">
        <div class="field">
          <label class="label-field" for="emailIn">Email</label>
          <input [(ngModel)]="loginForm.Email" type="email" id="emailIn" name="email" ngModel required>
        </div>
        <div class="field">
          <label class="label-field" (mousedown)="inputType='text'" (mouseout)="inputType='password'" (mouseup)="inputType='password'" for="passwordIn">Password</label>
          <input [(ngModel)]="loginForm.Password" [type]="inputType" id="passwordIn" name="password" ngModel required>
        </div>
        <button type="submit">Sign in</button>
      </form>
    </div>

    <!--Регистрация-->
    <div *ngIf="isSingUp" class="center">
      <form (ngSubmit)="singUp()" class="center">
        <div class="field">
          <label class="label-field" for="name">Name</label>
          <input type="text" id="name" name="name" ngModel required>
        </div>
        <div class="field">
          <label class="label-field" for="emailUp">Email</label>
          <input type="email" id="emailUp" name="email" ngModel required>
        </div>
        <div class="field">
          <label class="label-field" (mousedown)="inputType='text'" (mouseout)="inputType='password'" (mouseup)="inputType='password'" for="passwordUp">Password</label>
          <input [type]="inputType" id="passwordUp" name="password" ngModel required>
        </div>
        <button type="submit">Sign up</button>
      </form>
    </div>
  </div>

  <!--Навигация-->
  <div *ngIf="!isAuthMode" class="center">Тут будет навигация</div>
</div>
